<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Aita - AI Teaching Assistant</title>
    <link rel="icon" type="image/x-ico" href="../static/images/icon.ico" />
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
    <script type='text/javascript' src='../static/scripts/index.js'></script>
</head>

<body>
    <div id="navigationBar">
        <a id="websiteHomeLink" href="./index.html">
            <img id="websiteName" src="../static/images/logo.png">
        </a>
        <a onmouseover="navigationMouseOn()" onmouseout="navigationMouseOut()" class="navigationItem" href="./index.html">
            INDEX
        </a>
        <a onmouseover="navigationMouseOn()" onmouseout="navigationMouseOut()" class="navigationItem" href="https://github.com/Bi0x/Aita">
            CODE
        </a>
        <a id="navigationSelectedItem" href="./about.html">
            ABOUT
        </a>
        <a id="navigationSelectedItemAnimate" href="./about.html">
            ABOUT
        </a>
    </div>

    <div id="banner">
        <div id="bannerContent">
            <p id="banner1stLine">Aita&nbsp;&nbsp;|&nbsp;&nbsp;About</p>
            <p class="bannerOtherLine">Artificial Intelligence Teaching Assistant&nbsp;&nbsp;|&nbsp;&nbsp;Version 1.0</p>
            <p class="bannerOtherLine">
                <a href="https://github.com/Bi0x/Aita">Github</a> --
                <a href="./about.html">About</a>
            </p>
        </div>
    </div>
</body>

<script type="text/javascript">
</script>

</html>